streamlit
openai
PyPDF2
chromadb
pysqlite3-binary 
protobuf==3.20
requests
streamlit_folium 
folium
geopy
pydantic 
sklearn
sklearn.metrics
sklearn.linear_model
sklearn.neural_network
sklearn.feature_extraction.text



